*{margin: 0;padding: 0;}
@charset "utf-8";
body,html{height: 100%;}

body{
	background-image: url(/assets/img/cure-beijing.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
input{
	color: #867E76;
}
.chain-title{
	font-size: 36px;
	margin: 50px 0;
	text-align: center;
}
.chain-kv{
	font-size: 18px;
	color:#000000;
	display: flex;
	flex-direction: column;
	margin: 0 250px;
}
.chain-item{
	width: 100%;
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 30px;
}
.conent-item{
	width: 100%;
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 30px;
}
.chain-item>span,.conent-item>span{
	/* width: 15%; */
	width: 150px;
}
.chain-item>input{
	height: 40px;
	line-height: 40px;
	width: 85%;
	padding: 0 10px;
	font-size: 20px;
	border: 1px solid #000000;
}
input::-webkit-input-placeholder {
	 text-align: center;
}



.wid-1200{
	text-align: left;
}

.box-address{
	margin-bottom: 5px;
	margin-top: 5px;
}
