*{margin: 0;padding: 0;}
html,
body {
	height: 100%;
}

body {
	background-image: url(/assets/img/cure-beijing.jpg);
	background-size: cover;
}

.top_right {
	position: absolute;
	right: 30px;
	top: 17px;
	cursor: pointer;
}

.top_right>a>img {
	width: 40px;
	height: 40px;
}
.safe-conent {
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
}

.safe-conent:after {
	display: inline-block;
	content: '';
	width: 0;
	height: 100%;
	vertical-align: middle;
}

.safe-item {
	color: #333333;
	display: inline-block;
	vertical-align: middle;
}
.safe-item .safe-title{
	font-size: 70px;
}
.safe-item .safe-slogan{
	font-size: 24px;
	margin: 20px 0 50px 0;
}
.safe-wrap{
	position: relative;
	display: flex;
}
.safe-wrap-img{
	width: 80px; 
	height: 80px;
	border: 1px solid #333333;
	border-left: 0;
	background-color: #FFFFFF;
	position: relative;
	/* background-color: #333333; */
}
.safe-wrap-img>img{
	position: absolute;
	right: 12px;
	top: 12px;
	width: 55px;
	height: 55px;
}
.safe-wrap-img:hover{
	background-color: #E1E1E1;
	cursor: pointer;
}
.safe-wrap>input:hover{
	background-color: #E1E1E1;
}
.safe-wrap>input{
	width: 900px;
	height: 80px;
	padding: 0px 10px 0px 10px;
	border: 1px solid #333333;
	color: #333333;
	font-size: 20px;
}

@media screen and (max-width:1050px){
	.safe-item .safe-title{
		font-size: 50px;
	}
	.safe-item .safe-slogan{
		font-size: 18px;
		margin: 20px 0 30px 0;
	}
	
	.safe-wrap>input{
		width: 80%;
		height: 80px;
		padding: 0px 10px 0px 10px;
		border: 1px solid #333333;
		color: #333333;
		font-size: 20px;
	}
}
@media screen and (max-width:680px){
	.safe-item .safe-title{
		font-size: 30px;
	}
	.safe-item .safe-slogan{
		font-size: 12px;
		margin: 20px 0 30px 0;
	}
	
	.safe-wrap>input{
		width: 80%;
		height: 80px;
		padding: 0px 10px 0px 10px;
		border: 1px solid #333333;
		color: #333333;
		font-size: 20px;
	}
} 