*{margin: 0;padding: 0;}
html,body {
	height: 100%;
}
body{
	background-image: url(/assets/img/cure-beijing.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.wid-1200{
	text-align: left;
}
.box-user {
	width: 1100px;
	border: 5px solid rgb(255, 255, 255);
	margin: 30px auto;
	box-shadow: 5px 5px 10px 5px rgba(4, 0, 0, 0.25);
	display: flex;
	align-items: center;
}

.box-user .user-hospital {
	font-size: 50px;
	margin: 0 40px;
}

.user-title {
	font-size: 24px;
}

.user-info {
	display: flex;
	flex-direction: column;
	margin: 10px 0;
	width: 520px;
}

.user-kv {
	margin: 5px 0;
}

.box-user>button {
	background-color: #FFFFFF;
	color: #333333;
	font-size: 20px;
	/* padding: 10px 20px; */
	border-radius: 5px;
	border: 1px solid #333333;
	outline: none;
	cursor: pointer;
	width: 120px;
	height: 50px;
	line-height: 50px;
}

.test {
	background-color: #FFFFFF;
	color: #333333;
	font-size: 20px;
	/* padding: 10px 20px; */
	border-radius: 5px;
	border: 1px solid #333333;
	outline: none;
	cursor: pointer;
	width: 120px;
	height: 50px;
	line-height: 50px;
}
